<html>
    <head>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="/static/css/materialize.min.css"  media="screen,projection"/>
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="/static/js/materialize.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script type="text/javascript">
            window.onload = function() {
                document.getElementById("autocomplete-input").onkeyup = function(e) {
                    if(e.keyCode == 13){
                        var x = document.getElementById("autocomplete-input").value
                        $.post('/find', x, function(data){
                            $('ol').html(data);
                        });
                    }
                };
            }
        </script>
        <script>
            var slider = document.getElementById('test-slider');
  noUiSlider.create(slider, {
   start: [20, 80],
   connect: true,
   step: 1,
   orientation: 'horizontal', // 'horizontal' or 'vertical'
   range: {
     'min': 0,
     'max': 100
   },
   format: wNumb({
     decimals: 0
   })
  });
        </script>
        <script>$('.button-collapse').sideNav('show');</script>
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <style>
         main, footer {
            padding-left: 300px;
        }

        @media only screen and (max-width : 992px) {
            header, main, footer {
                padding-left: 0;
            }
        }
        
        .side-nav {
            margin-top: 64px;
        }
        
        ol{
            padding-left: 350px;
        }
    </style>
    </head>
<body>
    <header>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper light-blue darken-4">
                <a href="#" class="brand-logo right">Crowded</a>
                <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li><div class="center row">
                          <div class="col s12 " >
                            <div class="row" id="topbarsearch">
                              <div class="input-field col s6 s12">
                                <i class="material-icons prefix">search</i>
                                <input type="text" placeholder="search" id="autocomplete-input" class="autocomplete" name="search">
                                </div>
                              </div>
                            </div>
                        </div> 
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    </header>
    
    <ul id="slide-out" class="side-nav fixed ">
    <li>Max Price 
        <form action="#">
            <p><input name="group1" type="radio" id="1"/>
                <label for="1">$</label></p>
            <p><input name="group1" type="radio" id="2"/>
                <label for="2">$$</label></p>
            <p><input name="group1" type="radio" id="3"/>
                <label for="3">$$$</label></p>
            <p><input name="group1" type="radio" id="4"/>
                <label for="4">$$$</label></p>
        </form>
    </li>
    <li>Distance</li>
    </ul>
    <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
          
    <ol></ol>
</body>
