<!doctype html>
<html>
  <head>
    <meta charset=utf-8>
    <meta name=viewport content=width=device-width,initial-scale=1>
    <title>Restaurant Crowd</title>
    <script src=https://code.jquery.com/jquery-3.2.1.min.js integrity=sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4= crossorigin=anonymous></script>
    <script src=https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js></script>
    <script src=/static/main.js></script>
    <link href=https://fonts.googleapis.com/css?family=Roboto rel=stylesheet>
    <link href=https://fonts.googleapis.com/icon?family=Material+Icons rel=stylesheet>
    <link rel=stylesheet href=https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css>
    <link href=/static/main.css rel=stylesheet>
  </head>
  <body>
    <div class='light-blue darken-1'>
      <div class=row>
        <h4 class='center white-text'>Restaurant Crowd</h4>
      </div>
      <div class=row>
        <div class='col m4 s12'>
          <div id=searchBar class=card>
            <input placeholder=search id=autocomplete-input>
            <i class=material-icons>search</i>
          </div>
        </div>
        <div class='col m4 s12'>
          <form id=price>
            <p><input class=with-gap name=price type=radio value=1 id=1><label for=1>$</label></p>
            <p><input class=with-gap name=price type=radio value=2 id=2><label for=2>$$</label></p>
            <p><input class=with-gap name=price type=radio value=3 id=3><label for=3>$$$</label></p>
            <p><input class=with-gap name=price type=radio value=4 id=4><label for=4>$$$$</label></p>
          </form>
        </div>
        <div class='col m4 s12'>
          <form>
            <p class=range-field id=distanceContainer>
            <input type=range id=distance min=200 max=1000></p>
          </form>
        </div>
      </div>
    </div>
    <ol></ol>
  </body>
</html>
